<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html::head"></head>
  <head>
    <link rel="stylesheet" href="/css/addExercisePost.css">
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>

    <div id="main-title" class="py-5 text-center">
      <h2>게시글 작성</h2>
    </div>

    <div class="container">
      <div class="col-sm-8">
        <form method="post">
          <div class="form-group mb-3">
            <label for="exericseName">운동 종류</label>
            <select id="categorySelect" onchange="targetChange(this.value)">
              <option selected disabled>운동 부위 선택</option>
            </select>
            <select id="exerciseSelect" name="exerciseName">
              <option selected disabled>운동 종류 선택</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="title">제목</label> <br>
            <input type="text" name="title">
          </div>

          <div class="form-group mb-3">
            <label for="contents">내용</label> <br>
            <textarea name="contents" id="content-area" rows="10" cols="90"></textarea>
            <br>
            <span style="color:#aaa;" id="counter">(0 / 최대 2500자)</span>
          </div>

          <button type="submit" class="btn">제출하기</button>
        </form>
      </div>
    </div>

    <footer>
      <div th:replace="fragments.html :: footer"></div>
    </footer>
    <script type="text/javascript" th:src="@{/js/addExercisePost.js}"></script>
  </body>
</html>
