<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:inlcude ="fragments.html :: head"></head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>

    <div id="main-title" class="py-5 text-center">
      <h2>운동 정보 추가</h2>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
          <form method="post">
            <div class="form-group">
              <label>운동 이름</label>
              <input type="text" name="name">
            </div>

            <div class="form-group">
              <label>운동에 대한 설명</label>
              <textarea name="description" rows="8" cols="80"></textarea>
            </div>

            <div class="form-group">
              <label>운동하는 방법</label>
              <textarea name="movement" rows="8" cols="80"></textarea>
            </div>

            <div class="form-group">
              <label>운동 시 주의 사항</label>
              <textarea name="caution" rows="8" cols="80"></textarea>
            </div>

            <div class="form-group">
              <label>운동 부위</label>
              <select class="" name="target">
                <option th:each="target:${targetTypes}" th:value="${target}" th:text="${target}">
                </option>
              </select>
            </div>

            

          </form>
        </div>
      </div>
    </div>

  </body>
</html>
