<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html :: head"></head>
  <head>
    <link rel="stylesheet" href="/css/addRecord.css">
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>

    <div id="main-title" class="py-5 text-center">
      <h2>오늘의 운동 기록</h2>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
          <form method="post">
            <div class="form-group mb-2">
              <label>운동 종류</label>
              <select id="target" onchange="targetChange(this.value)">
                <option selected disabled>운동 부위 선택</option>
              </select>
              <select id="exercises" name="exerciseName">
                <option selected disabled>운동 종류 선택</option>
              </select>
            </div>
            <div class="form-group mb-2">
              <label>세트</label>
              <input type="number" name="sets" max="100" min="1" aria-describedby="setsHelp">
              <small id="setsHelp" class="form-text text-muted">
                최소 1회 ~ 최대 100회 입력 가능
              </small>
            </div>
            <div class="form-group mb-2">
              <label>반복 횟수</label>
              <input type="number" name="laps" max="300" min="1" aria-describedby="lapsHelp">
              <small id="lapsHelp" class="form-text text-muted">
                최소 1회 ~ 최대 300회 입력 가능
              </small>
              <label>무게(kg)</label>
              <input type="number" name="weight" max="10000" min="1" aria-describedby="weightHelp">
              <small id="weightHelp" class="form-text text-muted">
                최소 1kg ~ 최대 10000kg 입력 가능
              </small>
            </div>

            <div class="form-group mb-2">
              <label>간단한 설명</label>
              <div>
                <input type="text" name="description" aria-describedby="descriptionHelp">
              <div>
              <small id="descriptionHelp" class="fomm-text text-muted">
                ex) 스쿼트 했다면 스미스 머신을 사용했는지, 싱글 레그로 했는지
              </small>
            </div>
            <div class="form-group mb-2">
              <label>운동한 날짜</label>
              <input type="date" name="date" class="form-control">
            </div>
            <button type="submit" id="submitButton" class="btn btn-black">추가</button>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div th:replace="fragments.html :: footer"></div>
    </footer>
    <script type="text/javascript" th:src="@{/js/addRecord.js}"></script>
  </body>
</html>
