<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html :: head"></head>
  <head>
    <style media="screen">
      .container {

      }

      .circle {
        width:150px;
        height:150px;
        border-radius:75px;
        text-align:center;
        margin:0 auto;
        font-size:12px;
        vertical-align:middle;
        line-height:150px;
      }

      .my {
        border:1px solid black;
      }

      .info {
        border:1px solid black;
      }

      .community {
        border:1px solid black;
      }
    </style>
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>
    <div id="main-title" class="py-5 text-center">
      <h2>Touch My Body</h2>
    </div>
    <div class="container">
      <div class="circle my mb-3">
        <div class="">
          내 운동 기록 보러가기
        </div>
      </div>

      <div class="circle info mb-3">
        <div class="">
          운동 정보 보러가기
        </div>
      </div>

      <div class="circle community mb-3">
        <div class="">
          우리 소통해요
        </div>
      </div>
    </div>
  </body>
</html>
