<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html :: head"></head>
  <head>
    <link th:href="@{/css/login_style.css}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>
    <div id="main-title" class="py-5 text-center">
      <h2>회원 가입</h2>
    </div>
    <div class="row justify-content-center">
       <div class="col-md-6 col-sm-12">
             <form method="post" action="/join" th:object="${formModel}">
                <div class="form-group">
                   <label>이메일<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="err"></div></label>
                   <input type="text" name="email" id ="userEmail" th:field="*{email}" class="form-control" aria-describedby="emailHelp" placeholder="Email" onchange="emailChange()">
                   <small id="emailHelp" class="form-text text-muted">
                     이메일 중복확인 해주세요.
                   </small>
                   <button type="button" id="idVerification"class="btn btn-black" onclick="emailCheck()">이메일 중복확인</button>
                </div>
                <div class="form-group">
                  <label>닉네임<div th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" th:errorclass="err"></label>
                  <input type="text" name="nickName" th:field="*{nickName}" class="form-control" aria-describedby="nickNameHelp" placeholder="NickName">
                  <small id="nickNameHelp" class="form-text text-muted">
                    닉네임 중복확인 해주세요.
                  </small>
                  <button type="button" id="nickNameVerification"class="btn btn-black" onclick="nickNameCheck()">닉네임 중복확인</button>
                </div>
                <div class="form-group">
                   <label>비밀 번호<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err"></label>
                   <input type="password" name="password" th:field="*{password}" class="form-control" aria-describedby="passwordHelp" placeholder="Password">
                   <small id="passwordHelp" class="form-text text-muted">
                     비밀번호를 입력해주세요.
                   </small>
                </div>
                <div class="form-group">
                  <label>이름<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="err"></label>
                  <input type="text" name="firstName" th:field="*{firstName}" class="form-control" aria-describedby="firstNameHelp" placeholder="First Name">
                  <small id="firstNameHelp" class="form-text text-muted">
                    이름을 입력해주세요.
                  </small>
                </div>
                <div class="form-group">
                  <label>성<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="err"></label>
                  <input type="text" name="lastName" th:field="*{lastName}" class="form-control" aria-describedby="lastNameHelp" placeholder="Last Name">
                  <small id="lastNameHelp" class="form-text text-muted">
                    성을 입력해주세요.
                  </small>
                </div>
                <button type="submit" id="submitButton"class="btn btn-black">회원가입</button>
             </form>
       </div>
    </div>
    <footer>
      <div th:replace="fragments.html :: footer"></div>
    </footer>
    <script type="text/javascript" th:src="@{/js/join.js}"></script>
  </body>
</html>
