<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html::head"></head>
  <head>
    <link rel="stylesheet" href="/css/muscleListViewForManage.css">
  </head>
  <body>
    <header>
      <div th:replace="fragments.html :: main-nav"></div>
    </header>

    <div id="main-title" class="py-5 text-center">
      <h2>근육 정보 관리하기</h2>
    </div>

    <button type="button" class="btn ml-3 addBtn" onclick="goToAdd()">운동 종류 추가</button>

    <div class="main_container">
      <div class="search" style="float: right;">
        <form class="mb-3 mr-3" method="get">
          <input type="text" name="keyword" placeholder="이름 검색">
          <input type="submit" name="" value="검색">
        </form>
      </div>

      <table class="table table-striped text-center" >
        <thead>
          <tr>
            <th scope="col">종류</th>
            <th scope="col" colspan="2">이름</th>
            <th scope="col">관리</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="object:${listObject}">
            <td th:text="${object.category}"></td>
            <td th:text="${object.name}" colspan="2"></td>
            <td>
              <button type="button" class="btn modifyBtn" th:onclick="|goToModify(&{object.id})|">수정</button>
              <button type="button" class="btn deleteBtn" th:onclick="|goToDelete(${object.id})|">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row justify-content-center">
        <nav>
          <ul class="pagination justify-content-center pageUl"
              th:with="start=${startIndex},
                        last=${lastIndex}">

             <li th:unless="${currentPage} == 1" class="pageList" >
               <a th:href="@{/(page=${currentPage}-1)}">
                 <span aria-hidden="true">&lt;</span>
               </a>
             </li>

             <li th:each="page: ${#numbers.sequence(start, last)}" class="pageList" >
              <a th:text="${page}" th:href="@{/(page=${page})}"></a>
             </li>

            <li th:unless="${currentPage} == ${lastIndex}" class="pageList">
              <a th:href="@{/(page=${currentPage}+1)}">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <footer>
    	<div th:replace="fragments.html :: footer"></div>
    </footer>
    <script type="text/javascript" th:src="@{/js/muscleListViewForManage.js}"></script>
  </body>
</html>
