<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head th:include="fragments.html :: head"></head>
  <head>
    <head>
      <link th:href="@{/css/createContentstyles.css}" rel="stylesheet" />
      <link th:href="@{/css/login_style.css}" rel="stylesheet" />
    </head>
    <style media="screen">
      .container {
        width:70%;
        margin: 30 auto;
      }
    </style>
  </head>
  <body>
    <div th:replace="fragments.html :: main-nav"></div>
    <div id="main-title" class="py-5 text-center">
      <h2>Touch My Body 개인정보 처리 방침</h2>
    </div>
    <div class="">
    <div class="container">
      <div class="">
        [‘http://info-gun.net:8080’ 이하 ‘Touch My Body’]은(는) ⌜개인정보 보호법⌟ 제 30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립・공개합니다.
      </div>
      <br />

      <div class="">
        <b>제1조(개인정보의 처리목적)</b> [Touch My Body]은(는) 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 ⌜개인정보 보호법⌟ 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
      </div>
      <div class="mb-3">
        &nbsp; 1. 홈페이지 회원 가입 및 관리 <br/>
         &nbsp;&nbsp;회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별・인증, 회원자격 유지・관리, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리 시 법정 대리인의 동의여부 확인, 각종 고지・통지, 고층처리 목적으로 개인 정보를 처리합니다.
         <br><br>
        &nbsp; 2. 재화 또는 서비스 제공 <br>
          &nbsp;&nbsp; 서비스 제공, 콘텐츠 제공, 서비스 및 콘텐츠 변경 사항 고지를 목적으로 개인정보를 처리합니다.
          <br><br>
        &nbsp;3. 고충처리 <br>
         &nbsp;&nbsp;민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락・통지, 처리결과 통보의 목적으로 개인정보를 처리합니다.
         <br><br>
      </div>

        <div class="">
          <b>제2조(개인정보 처리 및 보유기간)</b> ① [Touch My Body]은(는) 법령에 따른 개인정보 보유・이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유・이용기간 내에서 개인정보를 처리・보유합니다.
        </div>
        <div class="mb-3">
          ② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다. <br>
          &nbsp;1. 홈페이지 회원 가입 및 관리: 사업자/단체 홈페이지 탈퇴 시까지 <br>
            &nbsp;다만. 다음의 사융에 해당하는 경우에는 해당 사유 종료 시까지 <br>
            &nbsp;&nbsp;1) 관계 법령 위반에 따른 수사조사 등이 진행 중인 경우에는 해당 수사조사 종료 시까지 <br>
            &nbsp;&nbsp;2) 홈페이지 이용에 따른 채권・채무관계 잔존 시에는 해당 채권・채무관계 정산 시까지 <br>
          &nbsp;2. 재화 또는 서비스 제공: 재화・서비스 공급완료 및 요금결제・정산 완료시까지 <br>
            &nbsp;다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료 시까지 <br><br>
        </div>

        <div class="">
          <b>제5조(정보주체와 법정대리인의 권리・의무 및 행사방법)</b> ① 정보주체는 [Touch My Body]에 대해 언제든지 개인정보 열람・정정・삭제・처리정지 요구 등의 권리를 행사할 수 있습니다.
        </div>
        <div class="mb-3">
          ② 제1항에 따른 권리 행사는 [Touch My Body]에 대해 개인정보보호법 시행령 제41조1항에 따라 서면, 전자우편, 모사전송   (FAX) 등을 통하여 하실 수 있으며, [Touch My Body] 은(는) 이에 대해 지체없이 조치하겠습니다. <br>
          ③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br>
          ④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다. <br>
          ⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.<br>
          ⑥ [Touch My Body]은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다. <br><br>
        </div>

        <div class="">
          <b>제6조(처리하는 개인정보 항목)</b> [Touch My Body] 은(는) 다음의 개인정보 항목을 처리하고 있습니다.
        </div>
        <div class="mb-3">
          &nbsp;1. 홈페이지 회원 가입 및 관리 <br>
          &nbsp;&nbsp;・필수항목: 성명, 이메일주소, 비밀번호 <br>
          &nbsp;&nbsp;・선택항목: 깃허브 주소, 페이스북 주소, 인스타그램 주소, 트위터 주소 <br>
          &nbsp;2. 홈페이지 소셜 로그인 <br>
          &nbsp;&nbsp;・필수항목: 이메일주소, 성명, 프로필 사진 <br>
          &nbsp;&nbsp;・소셜 로그인 대상 사이트: 구글 <br>
          &nbsp;3. 포트폴리오 작성 <br>
          &nbsp;&nbsp;・필수항목: 프로젝트 이름, 프로젝트 참여자, 프로젝트 소개글 <br>
          &nbsp;&nbsp;・선택항목: 프로젝트 한줄 설명, 사용 기술 내용, 프로젝트 수행 기간, 프로젝트 관련 링크주소 <br>
          &nbsp;4. 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다. <br>
          &nbsp;&nbsp;・IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록 <br> <br>
        </div>

        <div class="">
          <b>제7조(개인정보의 파기)</b> ① [Touch My Body] 은(는) 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.
        </div>
        <div class="mb-3">
          ② 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다. <br>
            &nbsp;1. 법령 근거 : <br>
            &nbsp;2. 보존하는 개인정보 항목 : <br>
          ③ 개인정보 파기의 절차 및 방법은 다음과 같습니다. <br>
          &nbsp;1. 파기절차 <br>
          &nbsp;[Touch My Body] 은(는) 파기 사유가 발생한 개인정보를 선정하고, [Touch My Body] 의 개인정보 보호책임자의 승인을 받아 개인 정보를 파기합니다. <br>
          &nbsp;2. 파기방법 <br>
          &nbsp;[Touch My Body] 은(는) 전자적 파일 형태로 기록・저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록・저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다. <br> <br>
        </div>

        <div class="">
          <b>제8조(개인정보의 안전성 확보조치)</b> [Touch My Body]은(는) 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
        </div>
        <div class="mb-3">
          &nbsp;1. 관리적 조치: 내부관리계획 수립・시행 <br>
          &nbsp;2. 기술적 조치: 개인정보처리시스템 등의 접근권한 관리, 고유식별정보 등의 암호화 <br><br>
        </div>

        <div class="">
          <b>제9조(개인정보 자동 수집 장치의 설치・운영 및 거부에 관한 사항)</b> ① [Touch My Body] 은(는) 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.
        </div>
        <div class="mb-3">
          ② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.<br>
           &nbsp;가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다. <br>
           &nbsp;나. 쿠키의 설치・운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다. <br>
           &nbsp;다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다. <br> <br>
        </div>

        <div class="">
          <b>제10조(개인정보 보호책임자)</b>  ① [Touch My Body] 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
        </div>
        <div class="mb-3">
          <br>
            &nbsp;► 개인정보 보호책임자 <br>
            &nbsp;&nbsp;성명: 김건영 <br>
            &nbsp;&nbsp;직책: 대표 <br>
            &nbsp;&nbsp;연락처: gun025bba@daum.net <br> <br>
            ② 정보주체께서는 [Touch My Body] 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. [Touch My Body] 은(는) 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다. <br><br>
        </div>

        <div class="">
          <b>제14조(개인정보 열람청구)</b> 정보주체는 「개인정보 보호법」 제35조에 따른 개인 정보의 열람 청구를 아래의 부서에 할 수 있습니다. <br>
          [Touch My Body]은(는) 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다.
        </div>
        <div class="mb-3">
          <br>
           &nbsp;► 개인정보 열람청구 접수・처리 부서 <br>
           &nbsp;&nbsp;담당자: 김건영 <br>
          &nbsp;&nbsp;연락처: gun025bba@daum.net <br>
        </div>

        <div class="">
          <b>제15조(권익침해 구제방법)</b> 정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원, 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.
        </div>
        <div class="mb-3">
          <br>
          &nbsp;개인정보분쟁조정위원회: (국번없이) 1833-6972 (<a href="https://www.kopico.go.kr" target="_blank">www.kopico.go.kr<a>) <br>
          &nbsp;개인정보침해신고센터: (국번없이) 118 (<a href="https://privacy.kisa.or.kr" target="_blank">privacy.kisa.or.kr </a>) <br>
          &nbsp;대검찰청: (국번없이) 1301 (<a href="https://www.spo.go.kr" target="_blank">www.spo.go.kr</a>) <br>
          &nbsp;경찰청: (국번없이) 182 (<a href="https://cyberbureau.police.go.kr" target="_blank">cyberbureau.police.go.kr </a>) <br> <br>

          「개인정보 보호법」 제35조(개인정보의 열람), 제36조(개인정보의 정정・삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다. <br> <br>
          &nbsp;※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회(<a href="https://www.simpan.go.kr" target="_blank">www.simpan.go.kr</a>) 홈페이지를 참고하시기 바랍니다. <br><br>
        </div>

        <div class="">
          <b>제17조(개인정보 처리방침 변경)</b> ① 이 개인정보 처리방침은 2021.6.14.부터 적용됩니다. <br>
          ②  이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다. <br>
        </div>
        <div class="mb-3">
          &nbsp;- 이전사항 없음
        </div>
    </div>
    </div>
    <footer>
        <div class="row justify-content-center">
            <small class="d-block mb-3 text-muted">&copy; Touch My Body 2021</small>
        </div>
    </footer>
  </body>

</html>
